* {
    box-sizing: border-box;
    text-align: left;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: bold;
}

h1 {
    padding: 5px;
    font-weight: bold;
    background: #4aaaa5;
    margin: 0%;
    color: #ffffff;
    width: 12%;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
    background-image: url("../assets/images/dust_scratches.png/");
}

#bio-image {
    float: left;
    padding-right: 10px;
    margin: 10px;
}

p {
    padding: 5px;
    width: 100%;
    
}

section {
    padding: 20px;
    margin: 40px 100px 40px 100px;
    background: rgb(255, 255, 255);
    height: 960px;
}

  