* {
    box-sizing: border-box;
    text-align: left;
}

header {
    padding: 20px;
    margin-bottom: 20px;
    background: #ffffff;
    border-bottom: 1px solid #cccccc;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    clear: both;
}

nav {
    float: right;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav {
    display: inline;
}

h1 {
    padding: 5px;
    font-weight: bold;
    background: #4aaaa5;
    margin: 0%;
    color: #ffffff;
    width: 12%;
}

.container1 {
    width: 960px;
    margin: auto;
}

h2 {
    padding-bottom: 20px;
    font-weight: bold;
    border-bottom: 2px solid #cccccc;
    color: #4aaaa5; 
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 18px;
    line-height: 150%;
    color: #333;
    background: #efeee7;
    background-image: url("../assets/images/dust_scratches.png/");
}

.container {
    width: 960px;
    margin: auto;
}

#bio-image {
    float: left;
    padding-right: 10px;
    margin: 10px;
}

p {
    padding: 5px;
    width: 100%;
    
}

section {
    padding: 20px;
    margin: 40px 100px 40px 100px;
    background: rgb(255, 255, 255);
    
}

footer {
    padding: 20px;
    margin-top: 20px;
    background: #666666;
    border-top: 2px solid #4aaaa5;
    background-color: #ffffff;
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-size: 10px;
    text-align: center;
}